<a href="https://colab.research.google.com/github/ananthasai7893/Data-Science/blob/master/Copy_of_01_Python_Basics_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python for Data Science

* Python is open source.

* Unlike other languages you don’t need an Integrated development environment, python provides inbuilt idle for you to run programs

* This is the best part, even though being a general-purpose programming language, there’s a whole dedicated community contributing to make it more than that.

* Use it both the ways, as a general purpose programming and for data analysis/science, with the help of different libraries in python.

* Works on different platforms (Windows, Mac, Linux, Raspberry Pi).

* Python is easy to learn

# Appliations of Python

* Python can be used on a server to create web applications.

* Python can be used alongside software to create workflows.

* Python can connect to database systems. It can also read and modify files.

* Python can be used to handle big data and perform complex mathematics.

* Python can be used for rapid prototyping, or for software development.

Basics of Python Programming

* Comments
* Docstrings
* Print
* Variables
* Data types
* Operators
* Arrays
* List
* Tuple
* Set
* Dictionary

# Comments:


**Python has commenting capability for the purpose of in-code documentation.**

* Comments start with a #, and Python will render the rest of the line as a comment:

In [ ]:
#This is a comment.
print("Hello, World!")

Hello, World!

# Docstrings:

* Python also has extended documentation capability, called docstrings.

* Docstrings can be one line, or multiline.

* Python uses triple quotes at the beginning and end of the docstring.

In [ ]:
"""This is a 
.
.
.
.
.
multiline docstring."""

print("I am a Data Scientist")

I am a Data Scientist

# Print  

* Print statement is often used as a output variable.

In [ ]:
x = "awesome"
print("Python is " + x)

Python is awesome

In [ ]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

* For numbers, the + character works as a mathematical operator:

In [ ]:
x = 5
y = 10
print(x + y)

15

* If you try to combine a string and a number, Python will give you an error:

In [ ]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Variables

**A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).**

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
x = 5
y = "John"
z = 2.9

In [ ]:
print(x)

5

In [ ]:
x = 4 # x is of type int
x = "Sally" # x is now of type string

In [ ]:
print(x)
print(y)
print(z)

Sally
John
2.9

# Datatypes

* Int
* Float
* Complex
* String/Char

In [ ]:
#Variables of numeric types are created when you assign a value to them:

x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [ ]:
#Float can also be scientific numbers with an "e" to indicate the power of 10

x = 35e3
print(x)

35000.0

In [ ]:
# Complex numbers are written with a "j" as the imaginary part.

x = 3+5j
print(x)

(3+5j)

In [ ]:
# Strings literals in python are surrounded by either single quotation marks, or double quotation marks.

x = 'DataScience'
print(x)

DataScience

In [ ]:
#Square brackets can be used to access elements of the string.
print(x[4])

S

In [ ]:
# The len() method returns the length of a string:

print(len(x))

11

In [ ]:
# The lower() method returns the string in lower case:

print(x.lower())

datascience

In [ ]:
# The upper() method returns the string in upper case:
print(x.upper())

DATASCIENCE

# Operators

**Operators are used to perform operations on variables and values.**

Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

### Arithmetic Operators

* Arithmetic operators are used with numeric values to perform common mathematical operations:

    +	Addition	x + y	
    -	Subtraction	x - y	
    *	Multiplication	x * y	
    /	Division	x / y	
    %	Modulus	x % y	
    
    **	Exponentiation	x ** y	 
    //	Floor division	x // y

###  Comparison Operators

* Comparison operators are used to compare two values:

    ==	Equal	x == y	
    !=	Not equal	x != y	
    >	Greater than	x > y	
    <	Less than	x < y	
    >=	Greater than or equal to	x >= y	
    <=	Less than or equal to	x <= y

### Logical Operators

* Logical operators are used to combine conditional statements:

and - Returns True if both statements are true	x < 5 and  x < 10

or -  Returns True if one of the statements is true	x < 5 or x < 4	

not - Reverse the result, returns False if the result is true	not(x < 5 and x < 10)

### Membership Operators

* Membership operators are used to test if a sequence is presented in an object:

in 	Returns True if a sequence with the specified value is present in the object	x in y

not in	Returns True if a sequence with the specified value is not present in the object	x not in y

# Data Structures

*  **ARRAYS**

* **An array is a special variable, which can hold more than one value at a time.**

If you have a list of items (a list of car names, for example), storing the cars in single variables could look like this:

car1 = "Ford";
car2 = "Volvo";
car3 = "BMW";

The solution is an array!

**An array can hold many values under a single name, and you can access the values by referring to an index number.**

In [ ]:
cars = ["Ford", "Volvo", "BMW", "Ferrari", "Hundai"]

In [ ]:
x = cars[3]

In [ ]:
x

'Ferrari'

In [ ]:
x = len(cars)
print(x)

5

In [ ]:
for x in cars:
  print(x)

Ford
Volvo
BMW
Ferrari
Hundai
Honda

In [ ]:
cars.append("Honda")

* **LIST**

**List is a collection which is ordered and changeable. Allows duplicate members.**

**In Python lists are written with square brackets.**

In [ ]:
fruits = ["apple", "banana", "cherry", "orange"]
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
#You access the list items by referring to the index number:

print(fruits[1])

banana

In [ ]:
# To change the value of a specific item, refer to the index number:

fruits = ["apple", "banana", "cherry", "orange"]
print(fruits)

fruits[2] = "strawberry"
print(fruits)

['apple', 'banana', 'cherry', 'orange']
['apple', 'banana', 'strawberry', 'orange']

In [ ]:
# Print all items in the list, one by one:

fruits = ["apple", "banana", "cherry", "orange"]
for x in fruits:
  print(x)

apple
banana
cherry
orange

In [ ]:
fruits = ["apple", "banana", "cherry", "orange"]
if "mango" in fruits:
  print("Yes, 'mango' is in the fruits list")
else:
  print("Fruit is not in the list")

Fruit is not in the list

In [ ]:
# Print the number of items in the list:

print(len(fruits))

4

In [ ]:
# To add an item to the end of the list, use the append() method:

fruits.append("mango")
print(fruits)

['apple', 'banana', 'cherry', 'orange', 'mango']

In [ ]:
# To add an item at the specified index, use the insert() method:

fruits.insert(1, "grapes")
print(fruits)

['apple', 'grapes', 'banana', 'cherry', 'orange', 'mango']

In [ ]:
# The remove() method removes the specified item:

fruits.remove("banana")
print(fruits)

['apple', 'grapes', 'cherry', 'orange', 'mango']

In [ ]:
# The pop() method removes the specified index, (or the last item if index is not specified):

fruits.pop()
print(fruits)

['apple', 'grapes', 'cherry', 'orange']

The del keyword removes the specified index:
    del fruits[0]
    
    
The del keyword can also delete the list completely:
    del fruits

The clear() method empties the list:
    fruits.clear()

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

mylist = fruits.copy()

# Built in Methods of List

append()	Adds an element at the end of the list

clear()	Removes all the elements from the list

copy()	Returns a copy of the list

count()	Returns the number of elements with the specified value

extend()	Add the elements of a list (or any iterable), to the end of the current list

index()	Returns the index of the first element with the specified value

insert()	Adds an element at the specified position

pop()	Removes the element at the specified position

remove()	Removes the item with the specified value

reverse()	Reverses the order of the list

sort()	Sorts the list

* **TUPLE**

**Tuple is a collection which is ordered and unchangeable. Allows duplicate members.**

**In Python tuples are written within round brackets.**

In [ ]:
fruits = ("apple", "banana", "cherry", "orange")
print(fruits)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
# You can access tuple items by referring to the index number, inside square brackets:

print(fruits[1])

banana

In [ ]:
# Once a tuple is created, you cannot change its values. Tuples are unchangeable.

fruits = ("apple", "banana", "cherry", "orange")
fruits[1] = "mango"
# The values will remain the same:
print(fruits)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# You can loop through the tuple items by using a for loop.

for x in fruits:
  print(x)

apple
banana
cherry
orange

In [ ]:
fruits = ("apple", "banana", "cherry", "orange")
if "mango" in fruits:
  print("Yes, 'mango' is in the fruits list")
else:
  print("Fruit is not in the list")

Fruit is not in the list

In [ ]:
# To determine how many items a tuple has, use the len() method:

print(len(fruits))

4

In [ ]:
# Tuples are unchangeable, so you cannot remove items from it, but you can delete the tuple completely:

Methods in tuple

count()	Returns the number of times a specified value occurs in a tuple
index()	Searches the tuple for a specified value and returns the position of where it was found

* **SETS**

**Set is a collection which is unordered and unindexed. No duplicate members.**

**In Python sets are written within curly brackets.**

In [ ]:
fruits = {"apple", "banana", "cherry"}
print(fruits)

{'apple', 'cherry', 'banana'}

You cannot access items in a set by referring to an index, since sets are unordered the items has no index.

In [ ]:
"""But you can loop through the set items using a for loop, or ask if a specified value is present in a set, 
by using the in keyword."""

for x in fruits:
  print(x)

apple
cherry
banana

In [ ]:
print("banana" in fruits)

True

In [ ]:
#To add one item to a set use the add() method.

#To add more than one item to a set use the update() method.

fruits.add("orange")

print(fruits)

{'apple', 'cherry', 'banana', 'orange'}

In [ ]:
fruits.update(["orange", "mango", "grapes"])

print(fruits)

{'cherry', 'grapes', 'orange', 'banana', 'apple', 'mango'}

In [ ]:
#To determine how many items a set has, use the len() method.

print(len(fruits))

6

# Methods in Sets

add()	Adds an element to the set

clear()	Removes all the elements from the set

copy()	Returns a copy of the set

difference()	Returns a set containing the difference between two or more sets

difference_update()	Removes the items in this set that are also included in another, specified set

discard()	Remove the specified item

intersection()	Returns a set, that is the intersection of two other sets

intersection_update()	Removes the items in this set that are not present in other, specified set(s)

isdisjoint()	Returns whether two sets have a intersection or not

issubset()	Returns whether another set contains this set or not

issuperset()	Returns whether this set contains another set or not

pop()	Removes an element from the set

remove()	Removes the specified element

symmetric_difference()	Returns a set with the symmetric differences of two sets

symmetric_difference_update()	inserts the symmetric differences from this set and another

union()	Return a set containing the union of sets

update()	Update the set with the union of this set and others

* **DICTIONARIES**

**Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.**

**In Python dictionaries are written with curly brackets, and they have keys and values.**

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year" : 1964
}

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
#You can access the items of a dictionary by referring to its key name, inside square brackets:

x = car["model"]

In [ ]:
print(x)

Mustang

In [ ]:
# You can change the value of a specific item by referring to its key name:

car["year"] = 2008

In [ ]:
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2008}

In [ ]:
# You can loop through a dictionary by using a for loop.

# When looping through a dictionary, the return value are the keys of the dictionary,
# but there are methods to return the values as well.

for x in car:
  print(x)

brand
model
year

In [ ]:
for x in car:
  print(car[x])

Ford
Mustang
2008

In [ ]:
# You can also use the values() function to return values of a dictionary:

for x in car.values():
  print(x)

Ford
Mustang
2008

In [ ]:
# Loop through both keys and values, by using the items() function:

for x, y in car.items():
  print(x, y)

brand Ford
model Mustang
year 2008

In [ ]:
# To determine how many items (key-value pairs) a dictionary has, use the len() method.

print(len(car))

3

In [ ]:
# Adding an item to the dictionary is done by using a new index key and assigning a value to it:

car["color"] = "red"
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2008, 'color': 'red'}

# Methods in Dictionaries

clear()	Removes all the elements from the dictionary

copy()	Returns a copy of the dictionary

fromkeys()	Returns a dictionary with the specified keys and values

get()	Returns the value of the specified key

items()	Returns a list containing the a tuple for each key value pair

keys()	Returns a list containing the dictionary's keys

pop()	Removes the element with the specified key

popitem()	Removes the last inserted key-value pair

setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value

update()	Updates the dictionary with the specified key-value pairs

values()	Returns a list of all the values in the dictionary